# Server Configuration
PORT=3001
NODE_ENV=development

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_CARD_ID=ic_1I1OFqE8hHKqEw8LK31tUA4U
STRIPE_CARD_CARDHOLDER_ID=ich_1I1OEwE8hHKqEw8LGcywiifo
STRIPE_CARD_LAST4=3850
STRIPE_CARD_BRAND=Visa

# Database Configuration (if using a database)
DATABASE_URL=file:./dev.db

# CORS Configuration
CORS_ORIGIN=http://localhost:3000